USE [master]
GO
/****** Object:  Database [TEST_FID]    Script Date: 3/30/2024 9:43:18 AM ******/
CREATE DATABASE [TEST_FID]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TEST_FID', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.RZKYSQLSERVER\MSSQL\DATA\TEST_FID.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TEST_FID_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.RZKYSQLSERVER\MSSQL\DATA\TEST_FID_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TEST_FID].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TEST_FID]
GO
/****** Object:  Table [dbo].[TB_M_SUPPLIER]    Script Date: 3/30/2024 9:43:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_SUPPLIER](
	[SUPPLIER_CODE] [varchar](10) NOT NULL,
	[SUPPLIER_NAME] [varchar](50) NULL,
	[ADDRESS] [varchar](100) NULL,
	[PROVINCE] [varchar](50) NULL,
	[CITY] [varchar](50) NULL,
	[PIC] [varchar](30) NULL,
 CONSTRAINT [PK_TB_M_SUPPLIER_SUPPLIER_CODE] PRIMARY KEY CLUSTERED 
(
	[SUPPLIER_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_MCITY]    Script Date: 3/30/2024 9:43:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_MCITY](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Province] [varchar](50) NULL,
	[City] [varchar](50) NULL,
 CONSTRAINT [PK_TB_MCITY] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_R_ORDER_H]    Script Date: 3/30/2024 9:43:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_ORDER_H](
	[ORDER_NO] [varchar](20) NOT NULL,
	[ORDER_DATE] [date] NULL,
	[SUPPLIER_CODE] [varchar](10) NULL,
	[AMOUNT] [numeric](18, 0) NULL,
 CONSTRAINT [PK_TB_R_ORDER_H_ORDER_NO] PRIMARY KEY CLUSTERED 
(
	[ORDER_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TB_M_SUPPLIER] ([SUPPLIER_CODE], [SUPPLIER_NAME], [ADDRESS], [PROVINCE], [CITY], [PIC]) VALUES (N'AB', N'PT Aneka Besi', N'Jln Sudirman', N'DKI Jakarta', N'Jakarta Pusat', N'Mr. Amir')
INSERT [dbo].[TB_M_SUPPLIER] ([SUPPLIER_CODE], [SUPPLIER_NAME], [ADDRESS], [PROVINCE], [CITY], [PIC]) VALUES (N'DG', N'PT Diesel Guna', N'Jln Setiabudi', N'Jawa Barat', N'Bandung', N'Mrs Indah')
INSERT [dbo].[TB_M_SUPPLIER] ([SUPPLIER_CODE], [SUPPLIER_NAME], [ADDRESS], [PROVINCE], [CITY], [PIC]) VALUES (N'DK', N'PT. ssss', N'Jln Setiabudi', N'DKI Jakarta', N'Jakarta Pusat', N'Mr. john wick')
GO
SET IDENTITY_INSERT [dbo].[TB_MCITY] ON 

INSERT [dbo].[TB_MCITY] ([Id], [Province], [City]) VALUES (1, N'DKI Jakarta', N'Jakarta Barat')
INSERT [dbo].[TB_MCITY] ([Id], [Province], [City]) VALUES (2, N'DKI Jakarta', N'Jakarta Pusat')
INSERT [dbo].[TB_MCITY] ([Id], [Province], [City]) VALUES (3, N'DKI Jakarta', N'Jakarta Selatan')
SET IDENTITY_INSERT [dbo].[TB_MCITY] OFF
GO
INSERT [dbo].[TB_R_ORDER_H] ([ORDER_NO], [ORDER_DATE], [SUPPLIER_CODE], [AMOUNT]) VALUES (N'ORD-001', CAST(N'2019-01-01' AS Date), N'AB', CAST(150000000 AS Numeric(18, 0)))
INSERT [dbo].[TB_R_ORDER_H] ([ORDER_NO], [ORDER_DATE], [SUPPLIER_CODE], [AMOUNT]) VALUES (N'ORD-002', CAST(N'2019-01-04' AS Date), N'DG', CAST(250000000 AS Numeric(18, 0)))
INSERT [dbo].[TB_R_ORDER_H] ([ORDER_NO], [ORDER_DATE], [SUPPLIER_CODE], [AMOUNT]) VALUES (N'ORD-003', CAST(N'2019-01-05' AS Date), N'KL', CAST(35000000 AS Numeric(18, 0)))
GO
USE [master]
GO
