<!--**********************************
			Nav header start
		***********************************-->
<div class="nav-header">
	<a href="@Url.Action("Index", "Home")" class="brand-logo">


	</a>
	<div class="nav-control">
		<div class="hamburger">
			<span class="line"></span>
			<span class="line"></span>
			<span class="line"></span>
		</div>
	</div>
</div>
<!--**********************************
	Nav header end
***********************************-->
